.google {
    display: flex;
    justify-content: center;
}

.google__button {
    padding: 1rem;
    color: #f5682c;
    border: 1px solid #f5682c;
    align-self: center;
    background-color: transparent;
}