@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rowdies&subset=latin,latin-ext');

body {
    font-family: 'Lato', normal;
    margin: 0;
    background-color: #201b32;
}